<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.grady.tdsql.mapper.SysConfigParamMapper">
  <resultMap id="BaseResultMap" type="cn.grady.tdsql.domain.SysConfigParam">
    <id column="system_id" jdbcType="VARCHAR" property="systemId" />
    <id column="param" jdbcType="VARCHAR" property="param" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    system_id, param, value, desc
  </sql>
  <select id="selectByExample" parameterType="cn.grady.tdsql.domain.SysConfigParamCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'selectByCndition' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_config_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="cn.grady.tdsql.domain.SysConfigParam">
    insert into sys_config_param (system_id, param, value, 
      desc)
    values (#{systemId,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.grady.tdsql.domain.SysConfigParam">
    insert into sys_config_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemId != null">
        system_id,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_config_param
    <set>
      <if test="row.systemId != null">
        system_id = #{row.systemId,jdbcType=VARCHAR},
      </if>
      <if test="row.param != null">
        param = #{row.param,jdbcType=VARCHAR},
      </if>
      <if test="row.value != null">
        value = #{row.value,jdbcType=VARCHAR},
      </if>
      <if test="row.desc != null">
        desc = #{row.desc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_config_param
    set system_id = #{row.systemId,jdbcType=VARCHAR},
      param = #{row.param,jdbcType=VARCHAR},
      value = #{row.value,jdbcType=VARCHAR},
      desc = #{row.desc,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>